@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');;

body {
    box-sizing: border-box;
   
}


.header{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.logo{
    width: 200px;
    padding-top: 10px;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.picContainer {
    height: 85vh;
    background: url("./image.jpg") no-repeat;
    background-size: cover;
    margin-right: 90px;
    margin-left: 90px;   
}   



.photo {
    width: 100%;
}

.titleSection{
    padding-top: 150px;
    padding-left: 150px;
    font-size: 90px;
    font-family: Roboto;
    font-weight: 900; 
}

.titleSection .subtitle{
    color: #2C3BC3;
}

.emoji{
    width: 90px;
    height: 90px;
}

.pictoContainer{
    display: flex;
    justify-content: center;
    margin-top: -90px;
}
.info_user {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    margin-top: 160px;
    font-size: 50px;
    font-weight: bold;  
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    font-size: 50px;
    margin-left: 15px;
    width: 180px;
    font-family: Roboto;
    font-weight: bold;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]::placeholder {
    color: #D3D3D3;
}

.interested_user {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Roboto;
    margin-top: 70px;
}

.interested_user > P {
    margin-bottom: 25px;
    font-size: 50px;
}

.first_checkbox, .second_checkbox {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    
}
input[type=checkbox] + label {
    display: block;
    margin: 1em;
    cursor: pointer;
    padding: 0.1em;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: black;
    border-color: black;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }
.unique_piano{
    display: flex;
    width: 100%;
    
    /* flex-direction: ; */
    justify-content: space-evenly;
    text-align: center; 
    align-items: center;
}

.image_piano {
    /* border: solid 1px red; */
    margin-top: 110px;
    /* margin-right: 30px; */
    /* margin-left: 600px;  */
    width: 518px;
    height: auto;  
}

.paragraph_piano {
    margin-top: 120px;
    width: 340px;
    height: 100px;
    /* margin-left: 15px; */
    font-family: Roboto;
    font-weight: bold;  
    font-size: 45px;
    /* border: solid 1px red;  */
} 

.unique_span {
    -webkit-text-stroke: 1px #2C3BC3;
    color: white;
}

.unique_homme {
    display: flex;
    width: 100%;
    margin-top: 15px;
    /* border: 1px solid red; */
   
    justify-content: space-evenly;
}
.paragraph_homme {
    margin-top: 120px;
    width: 400px;
    height: 100px;
    /* margin-left: 15px; */
    font-family: Roboto;
    font-weight: bold;  
    font-size: 45px;
    /* border: solid 1px red;  */
}

.image_homme {
    width: 518px;
    height: auto;
}

.info_user {
    /* border: 1px solid red; */
    display: flex;
    font-family: Roboto;
    margin-top: 120px;
    /* margin-left: 300px; */
    font-size: 60px;
    font-weight: bold;  
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    font-size: 55px;
    margin-left: 15px;
    width: 180px;
    font-family: Roboto;
    font-weight: bold;
}

input[type=text]:focus {
    outline: none;
}

input[type=text]::placeholder {
    color: #D3D3D3;
}

.title_video {
    width: 410px;
    line-height: 50px;
    font-size: 50px;
    font-family: Roboto;
    font-weight: bold;
    /* border: red 1px solid; */
    align-items: center;
   
}

.video_span {
    color: white;
    -webkit-text-stroke: 1px #2C3BC3;
}

.text_configurator {
    margin-top: 45px;
    margin-left: 45px;
}
.span_configurator {
    font-family: Roboto;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #2C3BC3;
}

.paragraph_configurator {
    font-family: Roboto;
    font-weight: bold;
}

.specialities {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-left: 90px;
}

.description_specialities {
    font-family: Roboto;
    font-size: 18px;
    line-height: 130%;
    font-weight: 100;
}

.title_specialities {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Roboto;
}

.span_specialities {
color: white;
-webkit-text-stroke: 1px black;
}
.buttonContainer .cta{
    background: none;
    border: none;
    font-size: 30px;
    background: black;
    color: white;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-right: 0px;
    font-family: Roboto;
    font-weight: bold;
}

.specialityPic{
    transform: rotate(-35deg);
    z-index: 0;
    width:550px;
}
.specialityTitle{
    z-index: 1;
    font-family: Roboto;
    font-weight: bold;
}

.specialityText{
    z-index: 3;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
}

.fabricationContainer,.specialityContainer{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.fabricationContainer{
    background-color: #00072C;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
}


.fabricationTextContainer,.specialityTextContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: lighter;
}
.fabricationTextContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
}



.videoContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
}

.steps{
    margin-left: 100px;
    margin-right: 100px;
}

li{
    list-style: none;
    margin-top: 150px;
    font-size: 40px;
    font-family: Roboto;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
li p{
    font-size: 17px;
    margin-left: 200px;
    margin-top: 60px;
    font-family: Roboto;
    font-weight: normal;
}

li h3{
    display: flex;
    font-family: Roboto;
    font-weight: bold;
}



.videoSection{
    display: flex;
    flex-direction: row;
    height: 576px;
    align-items: center;
    justify-content: space-around;
}

.videoContainer{
    justify-content: flex-end;
    
}

video{
    width: 700px;
    height: 425px;
    justify-content: flex-end;
}

.overview h3{
    font-size: 70px;
}

.configurator{
    margin-top: 50px;
    font-size: 50px;
    background-image: url("./3d.JPG");
    height: 800px;

}

.configuratorContainer{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    background: none;
    
   
}


.configuratorContainer a{
    text-decoration: none;
    color: #000;
    border: 3px solid black;
    padding: 20px;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: bolder;
    margin-top: 30px;
    font-size: 20px;
    margin-left: -500px;
}
.configuratorContainer a:hover{
    text-decoration: none;
    background: #000;
    color: white;
    padding: 20px;
    font-family: Roboto;
}
.temoignage {
    display: flex;
    font-family: Roboto;
    justify-content:center;
    width: 1253px;
    height: 530px; 
}

.title_temoignage {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

/* div > p {
    
    font-weight: bold;
} */
div > h3 {
    
    font-weight: bold;
    font-family: Roboto;
}

#submit{
    border: none;   
}

.enter{
    width: 60px;   
    padding-left: 20px;
}

.temoignage {
    display: flex;
    font-family: Roboto;
    justify-content: center;
    width: 100%;
}

.title_temoignage {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: left;
}


.description_temoignage {
margin-left: 70px;
font-size: 18px;
margin-top: 160px;
line-height: 130%;
font-weight: 100;
line-height: 130%;
/* border: 1px solid red; */

}

.span_temoignage {
    color: white;
    -webkit-text-stroke: 1px #2C3BC3;
}

.image_temoignage {
    top: 65px;
    width: 1253px;
    height: 530px;
    margin-bottom: 90px;
    margin-right: 70px;
}



  


  .container{
      font-family: Roboto;
      font-weight: 900;
      font-size: 90px;
      
  }
  .hidden,.shown,.wait{
      display:inline-block;
      text-align: left;
      position: absolute;
      color: transparent;
      transition-duration: .3s;
      visibility: hidden;
      top: 300px;
      left: 240px;
  }
  .hidden{
      bottom: 1em;
  }
  .shown{
      bottom: 0em;
      color: #1426CE;
      visibility: visible;
  }

  .contact {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.logo_footer {
    width: 115px;
    margin-right: 25px;
    /* padding-top: 10px; */

}

.mail {
    font-family: roboto;
    font-weight: lighter;
}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

